body {
    color: white;
    background-color: black;
    color: greenyellow;
}

hr {
    border-style: dotted none none none;
    height: 1px;
    color: red;
}

table {
    border-style: solid;
    height: 1px;
}

h3 {
    color: #ff0000;
}

.profilePic {
    width: 180px;
    border-radius: 100%;
}

.profilePic:hover {
    width: 200%;
}

h1:hover {
    color: red;
    font-size: 200%;
}